@page
@model Hotel.Pages.Hotel_Rooms.IndexModel

<h1>Список номеров</h1>

<p>
    <a asp-page="Create">Добавить номер</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Этаж</th>
            <th>Корпус</th>
            <th>Категория</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hotel_Rooms)
        {
            <tr>
                <td>@item.RoomNumber</td>
                <td>@item.Floor</td>
                <td>@item.Building</td>
                <td>@item.Category</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>