@page
@model Hotel.Pages.Clients.IndexModel

<h1 class="mb-4">Список клиентов</h1>

<p>
    <a asp-page="Create" class="btn btn-success mb-3">Добавить клиента</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Фамилия и имя</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.LastName</td>
                <td>@client.Phone</td>
                <td>@client.Email</td>
                <td>
                    <a asp-page="Details" asp-route-id="@client.Id" class="btn btn-info btn-sm">Детали</a>
                    <a asp-page="Edit" asp-route-id="@client.Id" class="btn btn-warning btn-sm">Изменить</a>
                    <a asp-page="Delete" asp-route-id="@client.Id" class="btn btn-danger btn-sm">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>